{% include 'header.html' %}
<div class="container">
  <h2>찾았어요!</h2>
  <form method="post">
    <input type="text" name="keyword" placeholder="키워드 입력">
    <input type="text" name="contact" placeholder="연락처 입력">
    <button type="submit">삭제</button>
  </form>
  <p>{{ message }}</p>
  <ul>
    {% for item in items %}
    <li>{{ item[1] }} | {{ item[2] }} | {{ item[3] }} | {{ item[4] }} | {{ item[5] }}
      {% if item[6] %}<br><img src="/static/uploaded_photos/{{ item[6] }}" style="max-width:200px;">{% endif %}
    </li>
    {% endfor %}
  </ul>
  <br>
  <a href="/">← 홈으로 돌아가기</a>
</div>