<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lost@Campus</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1><span style="color: black;">Lost</span><span style="color: orange;">@</span><span style="color: black;">Campus</span></h1>
  </header>
  <nav>
    <a href="/register">📌 습득물 등록</a>
    <a href="/search">🔍 분실물 검색</a>
    <a href="/found">✅ 찾았어요!</a>
  </nav>
  <div class="container">
    <h2 style="color: orange;">연세대학교 분실물 서비스입니다<br>필요한 창으로 이동해주세요!</h2>
  </div>
</body>
</html>