{% include 'header.html' %}
<div class="container-box">
  <h4>📌 습득물 등록</h4>
  <form method="POST">
    <label>물건 이름</label>
    <input type="text" name="name" required>
    <label>습득 위치</label>
    <input type="text" name="location">
    <label>습득 날짜</label>
    <input type="date" name="date">
    <label>특이사항</label>
    <textarea name="notes"></textarea>
    <label>연락처</label>
    <input type="text" name="contact" required>
    <button type="submit">등록</button>
  </form>
</div>
<div class="home-link"><a href="{{ url_for('home') }}">🏠 홈으로 돌아가기</a></div>
</body>
</html>
